*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
  display: grid;
  justify-content: center;
}

.main-heading{
  text-align: center;
}

.entry-container{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  /* align-items: center; */
}

.todo-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input,.todo-date{
  font-size: 15px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid rgb(196, 196, 196);
  background-color: rgb(249, 255, 255);
}

.add-button{
  border-radius: 5px;
  background-color: green;
  color:#ffff;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;

}

.delete-button{
  background-color: rgb(192, 0, 0);
  color: #ffff;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
}